<div class="row" style="justify-content: center; margin-top: 5em;">
  <div class="col-md-4" style="text-align: center;">
    <h1>NGRX Store</h1>
    <hr><br>
    <div class="container-fluid" style="text-align: center;">
      <a [routerLink]="['/login']" class="btn btn-primary">Login</a>  &nbsp; &nbsp; &nbsp;
      <a [routerLink]="['/signup']" class="btn btn-primary">signup</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2>Name : </h2> <h2>{{ user.name }}</h2>
  </div>
  <div class="row">
    <h2>E-mail : </h2> <h2>{{ user.email }}</h2>
  </div>
  <div class="row">
    <h2>Age : </h2> <h2>{{ user.age }}</h2>
  </div>
  <div class="row">
    <h2>Sex : </h2> <h2>{{ user.sex }}</h2>
  </div>
  <div class="row">
    <h2>Address : </h2> <h2>{{ user.address }}</h2>
  </div>
</div>
