.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;

   animation:signup-response 0.5s 1;
  -webkit-animation:signup-response 0.5s 1;
  animation-fill-mode: forwards;

  animation-delay:4;
  -webkit-animation-delay:3s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;

}

@keyframes signup-response{
  from {opacity :1;}
  to {opacity :0;}
}

@-webkit-keyframes signup-response{
  from {opacity :1;}
  to {opacity :0;}
}
